<div class="about_grid">
  <div class="photo_flex_box">
    <div class="me_img">
      <img src="assets/img/david.png" alt="me">
    </div>
  </div>
  <div class="me_info">
    <div class="me_info_columns">
      <p>
        About
      </p>
    </div>

    <div class="me_info_text">
      <p>
        Avid world explorer who is ready to give up a year worth of Friday-night parties for a night in the nature, under the sky full of stars, and everything that I’ve ever had to see the Orion nebula from a distance of 6 light years. When free from work I learn languages, I believe you speak to a human’s heart when you speak the mother tongue.
      </p>
    </div>
    
    <div class="me_info_columns">
      <p>
        Job
      </p>
    </div>
    
    <div class="me_info_text">
      <p>
        currently working on my own projects and exploring technologies of the future.
      </p>
    </div>

    <div class="me_info_columns">
      <p>
        Skills
      </p>
    </div>

    <div class="me_info_text">
      <p>
        strong knowledge of html/css/js and some javascript frameworks such as react, angular and backbone <br>
        some knowledge of python, mainly use it for my own projects and exploring machine learning <br>
      </p>
    </div>
    <div></div>
    <div class="me_info_links">
      <div>
        <a href="https://www.linkedin.com/in/cygnusss">→linkedin</a>
        <a href="https://github.com/cygnusss">→github</a>
        <a href="mailto:cygnidavid@gmail.com">→email</a>
        <a href="https://github.com/cygnusss/portfolio">→this site on github</a>
      </div>
    </div>
  </div>
</div>