<div class="about_grid">
  <div class="photo_flex_box">
    <div class="me_img">
      <img src="assets/img/david.png" alt="me">
    </div>
  </div>
  <div class="me_info">
    <div class="me_info_columns">
      <p>
        About
      </p>
    </div>

    <div class="me_info_text">
      <p>
        hey! i am a creative and driven full stack, mainly js, developer.
      </p>
    </div>
    
    <div class="me_info_columns">
      <p>
        Job
      </p>
    </div>
    
    <div class="me_info_text">
      <p>
        currently working on my projects -- on my own / with my friend developers, and also exploring some new cool programming tools
      </p>
    </div>

    <div class="me_info_columns">
      <p>
        Skills
      </p>
    </div>

    <div class="me_info_text">
      <p>
        strong knowledge of html/css/js plus a couple of frameworks for js, such as react, angular and backbone <br>
        some knoweldge of python, mainly use it for self projects and exploring machine learning <br>
      </p>
    </div>
  </div>
</div>