.about_me_box {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about_me {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 80%;
  color: grey;
}