<div class="about_grid">
  <div class="photo_flex_box">
    <div class="me_img">
      <img src="assets/img/david.png" alt="me">
    </div>
  </div>
  <div class="me_info">
    <div class="me_info_columns">
      <p>
        About
      </p>
    </div>

    <div class="me_info_text">
      <p>
        Hi there, I am a creative developer and designer, I enjoy building beautiful and thoughtful experiences. 
        I like to mix code surprising visuals and pleasing interactions. I take my work seriously but not myself.
      </p>
    </div>
    
    <div class="me_info_columns">
      <p>
        Job
      </p>
    </div>
    
    <div class="me_info_text">
      <p>
        Currently working with good people and pushing pixels at Stink Studios in beautiful Brooklyn NY
      </p>
    </div>

    <div class="me_info_columns">
      <p>
        Skills
      </p>
    </div>

    <div class="me_info_text">
      <p>
        Strong knowledge of HTML/CSS/JS, graceful degradation and progressive enhancement 
        Creative coding : physics, 2D, 3D, motion
        Working within multidisciplinary teams with visual designers, motion designers and developers
        Producing neat, tested, readable and well documented code
        Building prototype concepts to demonstrate and test ideas
      </p>
    </div>
  </div>
</div>