<ul class="navbar_container">
  <li>
    <div class="navbar_option">
      <a href="https://www.linkedin.com/in/cygnusss">LinkedIn</a>
    </div>
  </li>
  <li>
    <div class="navbar_option">
      <a href="https://www.github.com/cygnusss">GitHub</a>
    </div>
  </li>
  <li>
    <div class="navbar_option">
      <div class="home_img">
        <a href="#" class="the_sun_symbol">☉☉</a>
      </div>
    </div>
  </li>
  <li>
    <div class="navbar_option">
      <a href="#">My Portfolio</a>
    </div>
  </li>
  <li>
    <div class="navbar_option">
      <a href="#">About Me</a>
    </div>
  </li>
</ul>