<div class="root-container">
  <navbar></navbar>
  <div class="body_grid">
    <div id="s01">
      <welcome></welcome>
    </div>
    <div id="s02">
      <div class="main_page_titling">
        <h1>
          MY PORTFOLIO
        </h1>
      </div>
    </div>
    <div id="s03">
      <chattermon></chattermon>
    </div>
    <div id="s04">
      <marsklif></marsklif>
    </div>
    <div id="s05">
      <div class="main_page_titling">
        <h1>
          ABOUT ME
        </h1>
      </div>
    </div>
    <div id="s06">
      <about></about>
    </div>
  </div>
</div>