.body_grid {
  display: grid;
  grid-template-rows: 650px 55px 300px 350px 45px 150px;
}

.main_page_titling {
  display: flex;
  justify-content: center;
}

#s05 {
  padding-top: 2rem;
}

h1 {
  color: grey;
}