.body_grid {
  display: grid;
  grid-template-rows: 650px;
}

/* .body_grid div:nth-child(even) {
  background-color: rgb(255, 158, 158);
}

.body_grid div:nth-child(odd) {
  background-color: rgb(0, 22, 0);
} */