@media (max-width:568px) {
  .chattermon_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.main_chattermon {
  height: 100%;
}

.chattermon_grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#chattermon {
  width: 450px;
}

.chattermon_left {
  width: 450px;
  padding-right: 1rem;
  justify-self: center;
}

.chattermon_left a {
  text-decoration: none;
  color: black;
}

.chattermon_right {
  font-family: 'Cormorant Garamond', serif;
  justify-self: center;
  padding-top: 2.8rem;
  padding-left: 1rem;
  height: 225px;
  width: 450px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.chattermon_right_links a {
  text-decoration: none;
  color: black;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 11px;
}

.chattermon_ds {
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}

.chattermon_ds01 {
  color: grey;
  font-size: 12px;
  font-family: 'Work Sans', sans-serif;
}