<div class="main_chattermon">
  <div class="chattermon_grid">
    <div class="chattermon_left">
      <a href="http://chattermon.com">
        <h1>Chattermon: Gotta Chat'em All</h1>
        <img id="chattermon" src="assets/img/chattermon.gif" alt="chattermon">
      </a>
    </div>
    <div class="chattermon_right">
      <p>
        Chattermon is a terminal based Pokemon battle system. Players create an account, then start of join a game. 
        Games consist of two players, each assigned three Pokemon at random. 
        A player wins by defeating each of their opponents Pokemon. Players can also chat with each other.
      </p>
      <div class="chattermon_right_info">
        <b class="chattermon_ds">dev stack¬</b>
        <p class="chattermon_ds01">Reactjs + Routing, Node + Expressjs, PostgreSQl + Sequelize, PassportJS, bcrypt</p>
      </div>
      <div class="chattermon_right_links">
        <a href="https://github.com/greenfield-jupiter/greenfield-project">→view code on github</a>
        <a href="http://chattermon.com">→play chattermon</a>
      </div>
    </div>
  </div>
</div>