.welcome_container {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center; 
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?auto=format&fit=crop&w=1504&q=80");
}

.welcome_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_info {
  color: black;
  font-family: 'Oswald', sans-serif;
}

.blinking-cursor {
  display: inline;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 20px;
  animation: 1s blink step-end infinite;
  
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: grey;
  }
}