<div class="main_marsklif">
    <div class="marsklif_grid">
      <div class="marsklif_left">
        <a href="https://marsklif.herokuapp.com/">
          <h1>MarsKlif (DB)</h1>
          <img id="marsklif" src="assets/img/marsklif.gif" alt="marsklif">
        </a>
      </div>
      <div class="marsklif_right">
        <p>
          An advanced movie database that gives passionate movie fans and studio executives easy 
          access to movie data and social media stats of recent films.
        </p>
        <div class="marsklif_right_info">
          <b class="marsklif_ds">dev stack¬</b>
          <p class="marsklif_ds01">React + Routing + Redux, Node + Expressjs, MongoDB + Mongoose, Watson API, Webpack</p>
        </div>
        <div class="marsklif_right_links">
          <a href="https://github.com/greenfield-jupiter/legacy">→view code on github</a>
          <a href="https://marsklif.herokuapp.com/">→open MarsKlif</a>
        </div>
      </div>
    </div>
  </div>