<div class="main_marsklif">
  <div class="marsklif_grid">
    <div class="marsklif_left">
      <h1>marsklif: Gotta Chat'em All</h1>
      <img id="marsklif" src="assets/img/marsklif.png" alt="marsklif">
      <p><b>Tools:</b> React, Redux, React-routing, Expressjs</p>
    </div>
    <div class="marsklif_right">
        marsklif is a terminal based Pokemon battle system. Players create an account, then start of join a game. 
        Games consist of two players, each assigned three Pokemon at random. 
        Players can either attack to damage the opponents Pokemon or switch Pokemon with choose pokemon. 
        A player wins by defeating each of their opponents Pokemon. Players can also chat with each other.
    </div>
  </div>
</div>