<div class="main_marsklif">
    <div class="marsklif_grid">
      <div class="marsklif_left">
        <a href="http://chattermon.com">
          <h1>MarsKlif (DB)</h1>
          <img id="marsklif" src="assets/img/marsklif.png" alt="marsklif">
          <div class="marsklif_right_links">
            <a href="https://github.com/greenfield-jupiter/greenfield-project">→see code on github</a>
            <a href="http://chattermon.com">→open MKDB</a>
          </div>
        </a>
      </div>
      <div class="marsklif_right">
        <p>
          An advanced movie database that gives passionate movie fans and studio executives easy 
          access to movie data and social media stats of recent films.
        </p>
        <div class="marsklif_right_info">
          <b class="marsklif_ds">dev stack¬</b>
          <p class="marsklif_ds01">React + Routing + Redux, Node + Expressjs, MongoDB + Mongoose, Watspon API, Webpack</p>
        </div>
      </div>
    </div>
  </div>